
<div class="skill-item col-md-4 col-sm-6 col-xs-12">
	<div class="panel panel-default {{bgColor}} {{#if isNoTouch}}no-touch{{/if}}">
		<div class="panel-heading" {{#if isNotMobile}}data-toggle=""{{else}}data-toggle="collapse"{{/if}} data-target="#{{skillID}}">
			<h7>{{ skillName }}</h7>
		</div>
		<div id="{{skillID}}" class="panel-body collapse in">
			<p class="exp">Have been using for <strong>{{ experience }}</strong> months.</p>
			<div class="photo text-center">
				<img class="img-responsive" src="images/{{skillImage}}">
			</div>
			<p class="projects">{{ projects }}</p>
			<div class="tags">
			{{#each subsets}}
				<span class="alert alert-warning tag">{{ this }}</span>
			{{/each}}
			</div>
		</div>
	</div>
</div>
