<div class="resume demo">
	<div class="basic-info col1">
		<div class="basic-info-wrapper">
			<div class="photo">
				<img src="{{ profileImage2 }}" alt="Profile Picture" />
			</div>
			<div class="info">
				<div class="name">{{ name }}</div>
				<div class="designation">{{ designation }}</div>
			</div> {{!-- end of info --}}
		</div> 
	</div>{{!-- end of basic-info --}}
	<div class="separator">
		
	</div>

	<div class="skills col2">
		<div class="profile-summary">
			{{ summary }}
		</div> {{!-- end of profile-summary --}}
		<div class="skills-wrapper">
		{{#each skills}}
			{{#if ../isMobile}}
			<div class="skill-item">
			{{else}}
			<div class="skill-item open">
			{{/if}}
				<div class="arrow-down">
					{{#if ../isMobile}}
					<svg class="arrow-down-icon" height="40px" width="40px">
					{{else}}
					<svg class="arrow-down-icon inverted" height="40px" width="40px">
					{{/if}}
						<line x1="10" y1="15" x2="20" y2="25"/>
						<line x1="20" y1="25" x2="30" y2="15"/>
					</svg>
				</div>
				<div class="skill-item-wrapper">
					<div class="skill-name text">{{ skillName }}</div>
					<div class="skill-details">
						<div class="skill-exp">Have been using for {{ experience }} months</div>
						<div class="skill-projects">{{ projects }}</div>
						<div class="skill-subsets">
							{{#each subsets}}
								<div class="skill-subset">
									<div class="text">
										{{ this }}
									</div>
								</div>
							{{/each}}
						</div>
					</div>
				</div>

			</div>
		{{/each}}
	</div> {{!-- end of skills col2 --}}
	<div class="skill-detail-desktop">
		
	</div>
</div> {{!-- end of resume --}}
