<div class="quiz-layout panel panel-primary">
	{{#if currentQuestion}}
		<div class="question panel-heading">
				{{ questionNumber }}. {{ currentQuestion.question }}
		</div>
		<div class="options panel-body">
				{{#each currentQuestion.options}}
				<div class="option col-xs-12 col-sm-3">
					<input type="radio" name="options" value="{{ @key }}" id="{{ @key }}"></input>
					<label for="{{ @key }}">{{ this }}</label>
				</div>
				{{/each}}
		</div>
	{{else}}
		{{#if score}}
			<div class="score-message alert alert-success">
				Your score is {{ score }}. Click on start to take the quiz again
			</div>
		{{else}}
			<div class="message alert alert-info">
				Welcome to Light Quiz. Please click on start to check you general knowledge.
			</div>
		{{/if}}
	{{/if}}
	<div class="buttons panel-body text-center">
		{{#if lastQuestion}}
			<button class="btn btn-close btn-primary" value="end">End Quiz</button>
		{{else if currentQuestion}}
			<button class="btn btn-next btn-primary"> Next </button>
		{{else}}
			<button class="btn btn-start btn-primary"> Start </button>
		{{/if}}
	</div>
</div>